*,*::before,*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 100vw;
    background-color: rgb(27, 10, 10);
    text-transform: uppercase;
    /* height: 100vh; */
    color: aliceblue;
}

.contestNav{
    width: inherit;
    display: flex;
    align-items: center;
}

.contestNav h3{
    padding: 1rem 0;
    /* height: 100%; */
    width: 10%;
    display: flex;
    border: 1px solid ;
    font-size: 25px;
}


.main{
    display: flex;
    width: inherit;
}

.main div{
    /* margin-top: 20px; */
    display: flex;
    width: 10%;
    flex-direction: column;
    flex-wrap:wrap;
    font-size: 20px;
    border: 1px solid white;
    gap: 30px;
}
.contestNav h3:nth-of-type(1), .main div:nth-of-type(1){
    /* background-color: green; */
    width:60%;
}
.contestNav h3:nth-of-type(4), .main div:nth-of-type(4){
    width: 15%;
}
.main div:nth-of-type(5){
    text-align: center;
}
a{
    color:aqua;

}